<?php
session_start();
?>
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="../../public/css/cliente.css">
    </head>
    <body>
        <form class="tel_Login" method="Post">
            <h1>Login</h1>
            <input type="email"  id="email" placeholder="Digite seu email">
            <input type="password" placeholder="Digite sua senha">
            <p><a href="#">Esqueceu sua senha?</a></p>
            <button>Confirmar</button>
        </form>
        <?php foreach($cliente as $cliente) { ?>
            <?php echo $cliente['id']; ?>
            <?php echo $cliente['email']; ?>
            <?php echo $cliente['senha']; ?>
        <?php }?>
    </body>
</html>
